html{
    background-color:powderblue;
}

.back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(0, 91, 148);
  color: white;
  text-decoration:none;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #0056b3;
}


h1{
    color:blueviolet;
}

#red{
    color:red;
}

#blue{
    color:blue;
}

#orange{
    color:orange;
}

#green{
    color:green;
}

#yellow{
    color:yellow;
}


img{
    width: 200px;
    height: 200px;
}


